<html>
  <head>
    <title>Docs and Examples</title>
    <style>

    </style>
    <link href="/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="sidebar">
      <ul>
      {{#each components}}
        <li>
          <a href="#{{pascal}}">{{name}}</a>
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="content markdown-body">
      {{#each components}}
        {{{htmlReadme}}}
        <hr/>
      {{/each}}
    </div>
  </body>
</html>
