<html>
  <head>
    <title>Docs and Examples</title>
    <style>
      html * {
        box-sizing: border-box;
      }
      html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      .sidebar, .content {
        height: 100%;
        overflow-y: scroll;
      }
      .sidebar {
        width: 200px;
        float: left;
        border-right: 1px solid #ccc;
      }

      .sidebar ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .sidebar ul li {
        line-height: 50px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .content {
        width: calc(100%-200px);
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
      {{#each components}}
        <li>
          <a href="#{{pascal}}">{{name}}</a>
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="content">
      {{#each components}}
        {{{htmlReadme}}}
        <hr/>
      {{/each}}
    </div>
  </body>
</html>
